.name {
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 300px;
    top: 300px;
    width: 50%;
    
}

.icons{
    margin-left: 15px;
    position: relative;
    left: 283px;
    bottom: 180px;
}

.pp{
    border-radius: 30px;
    width: auto;
    height: 500px;
    margin-left: 600px;
}

.about-me{
    margin-top: 50px;
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Lato', sans-serif;
    
}

.header{
    text-align: center;
    border-top: 1px solid #d3c8c8;
    padding-top: 50px;
}

.header2{
    text-align: center;
    border-top: 1px solid #d3c8c8;
    padding-top: 50px;
    position: relative;
    bottom: 300px;
}

.intro{
    text-align: center; 
}

.pp2{
    position: relative;
    left: 100px;
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.job{
    font-size: 25px;
    position: relative;
    text-align: center;
    bottom: 300px;
}

.desc{
    width: 50%;
    position: relative;
    bottom: 300px;
    text-align: center; 
    left: 380px;
}

.col1{
    position: relative;
    line-height: 35px;
    left: 380px;
    bottom: 300px;
    width: 50%;
}

.col2{
    width: 50%;
    position: relative;
    line-height: 35px;
    left: 700px;
    bottom: 422px;
}

.sub{
    position: relative;
    bottom: 300px;
    text-align: center;
}

.img{
    width: 600px;
    border: 1px solid brown;
    margin-left: 40px;
    margin-bottom: 40px;
    position: relative;
    left: 50px;
    bottom: 300px;
}

.header3{
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-top: 1px solid #d3c8c8;
    padding-top: 50px;
    position: relative;
    bottom: 300px;
}

.sublist{
    font-family: 'Anek Tamil', sans-serif;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Lato', sans-serif;
    position: relative;
    bottom: 300px;
    left: 30px;
}

.sk{
    position: relative;
    bottom: 300px;
    left: 30px;
    width: 50%;
    height: 30px;
}